<div class="page-container">
  <h2>Kontakt und Anreise</h2>

  <div class="contact">
    <p>Kontakt</p>
    <div class="contact-data">
      Telefon: (0049) 6353 959***
      E-Mail: helfrich.anke&#64;t-online.de
      Website: www.urlaubsregion-freinsheim.de
    </div>
  </div>

  <div class="travel">
    <p>Anreise</p>
    <div class="travel-data">
      Kirchheimer Straße 24, 67273 Dackenheim, Deutschland
      Check In: ab 14 Uhr
      Check Out: 11 Uhr
    </div>


  </div>
</div>
<app-map></app-map>
