<div class="page-container">
  <h2 class="headline">Kontakt und Anreise</h2>

  <div class="container">
    <p class="headline">Kontaktinformationen</p>
    <div class="container-data">
      <p>Telefon: (0049) 6353 959455</p>
      <p>E-Mail: helfrich.anke&#64;t-online.de</p>
      <p>Website: www.urlaubsregion-freinsheim.de</p>
    </div>
  </div>

  <hr>

  <div class="container">
    <p class="headline">Anreiseinformationen</p>
    <div class="container-data">
      <p>Kirchheimer Straße 24, 67273 Dackenheim, Deutschland</p>
      <p>Check In: ab 14 Uhr</p>
      <p>Check Out: 11 Uhr</p>
      <app-map></app-map>
    </div>


  </div>
</div>

