<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="assets/icons/monk.svg" alt="Mönch" class="navbar-icon me-2">
        Gästehaus Mönchhof
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" 
             [class.router-link-active]="isHomeActive()"
             routerLink="/ueber-uns">Über Uns</a>
          <a class="nav-link" routerLinkActive="router-link-active" routerLink="/kontakt">Kontakt</a>
          <a class="nav-link" routerLinkActive="router-link-active" routerLink="/gaestebuch">Gästebuch</a>
          <a class="nav-link" routerLinkActive="router-link-active" routerLink="/zimmer">Zimmer</a>
          <button class="nav-button" onclick="window.open('https://direct.bookingandmore.com/accommodation/1228b5ee-517e-4174-a56f-691f0c9d68c5?lang=de', '_blank')">Jetzt Buchen</button>
        </div>
      </div>
    </div>
  </nav>
</header>
