.navbar-brand {
  font-size: 30px;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1); /* Macht das SVG weiß */
}

.nav-link {
  color: white;
  transition: color 0.3s ease;
}

.nav-button {
  margin-left: 3rem;
  border-radius: 25px; /* Rundere Ränder */
  padding: 8px 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color: white;
  color: #97b742;
  transform: scale(1.05);
}

.nav-link:hover {
  color: black;
}

.router-link-active {
  color: #000;
  font-weight: bold;
}

.navbar {
  background-color: #97b742;
  font-weight: normal;
}

.nav-link {
  font-size: 20px;

  :hover {
    background-color: blue;
  }
}

.navbar-collapse {
  flex-grow: 0;
}


