<div class="page-container">
  <div class="price-container row">
    <div class="row">
      <div class="col-md-4">
        <div class="image-wrapper">
          <img src="assets/images/moenchhof-zimmer.jpg" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <div class="header">
          <p>Doppelzimmer, Dusche, WC, Nichtraucher</p>
          <div class="sub-header">
            <div class="room-general">
              <p>Größe: 20 m²</p>
              <p>Zimmer: 1</p>
              <p>Schlafzimmer: 1</p>
              <p>Personen: 2</p>
            </div>
            <div class="room-price">
              <p>Preis ab</p>
              <p>{{ price }} €</p>
              <p>pro Person/Nacht</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>Helle. freundliche Zimmer mit Blick auf den wunderschönen Innenhof.</p>
    <div class="content">
      <p>Ausstattung Zimmer/Appartment</p>
    </div>
  </div>
</div>
