<div class="page-container">
  <div class="price-container row">
    <div class="row">
      <div class="col-md-4">
        <div class="image-wrapper">
          <img src="assets/images/moenchhof-zimmer.jpg" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <div class="header">
          <span class="headline">Doppelzimmer, Dusche, WC, Nichtraucher</span>
          <div class="sub-header">
            <div class="room-general">
              <span>Größe: 20 m²</span>
              <span>Zimmer: 1</span>
              <span>Schlafzimmer: 1</span>
              <span>Personen: 2</span>
            </div>
            <div class="room-price">
              <span>Preis ab</span>
              <span class="price">{{ price | currency: 'EUR'}}</span>
              <span>pro Person/Nacht</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>Helle, freundliche Zimmer mit Blick auf den wunderschönen Innenhof.</p>
    <div *ngIf="toggleDetails" class="content">
      <span>Ausstattung Zimmer/Appartment</span>
    </div>
  </div>
</div>
