.page-container {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
}

.image-container {
  border-radius: 10px;
  padding-bottom: 2rem;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 50px;
}

img {
  max-width: 450px;
  max-height: 500px;
  border-radius: 10px;
}
