<div class="landing-container">
  <app-image-carousel></app-image-carousel>

  <div class="landing-text">
    <p>Das Gästehaus Mönchhof befindet sich in der Gemeinde Dackenheim.  Unser kleines
      300 Einwohner-Dörfchen hat seinen eigenen Charme. Wir liegen ruhig (nur 1km abseits der
      Deutschen Weinstrasse) aber dennoch Zentral.  Freinsheim mit seiner historischen Stadtmauer
      (3km) und Bad Dürkheim (10km) sind beliebte Ausflugsziele.  Golfbegeisterte erreichen den
      Golfplatz „Deutsche Weinstraße“ bequem in 5 Gehminuten.
      In ca. 5 km Entfernung können sie die Natur des Pfälzer Waldes zu Fuß oder mit dem Fahrrad erkunden. Auf Anfrage stellen wir Ihnen gerne eine Route zusammen.
      Das historische Gebäude lädt sie zum Urlaub machen ein. Hier können Sie einfach mal die Seele baumeln lassen und dem Alltag entfliehen.  Die Gästezimmer sind mit WiFi, TV, Fön und Handtüchern ausgestattet. Der Hof des Gästehauses bietet ausreichend Sitzgelegenheiten, um evtl. bei einem Gläschen Wein den Abend ausklingen zu lassen.
      Das reichhaltige und abwechslungsreiche Frühstück wird Ihnen im historischen Klosterkeller serviert.
    </p>
  </div>
</div>
