<h1 class="header">Herzlich willkommen!</h1>

<div class="container-sm text-container">
  <p>Das Gästehaus Mönchhof befindet sich in der Gemeinde Dackenheim. Unser kleines
    300 Einwohner-Dörfchen hat seinen eigenen Charme. Wir liegen ruhig (nur 1km abseits der
    Deutschen Weinstrasse) aber dennoch Zentral. Freinsheim mit seiner historischen Stadtmauer
    (3km) und Bad Dürkheim (10km) sind beliebte Ausflugsziele. Golfbegeisterte erreichen den
    Golfplatz „Deutsche Weinstraße“ bequem in 5 Gehminuten.
    In ca. 5 km Entfernung können sie die Natur des Pfälzer Waldes zu Fuß oder mit dem Fahrrad erkunden. Auf Anfrage
    stellen wir Ihnen gerne eine Route zusammen.
    Das historische Gebäude lädt sie zum Urlaub machen ein. Hier können Sie einfach mal die Seele baumeln lassen und dem
    Alltag entfliehen. Die Gästezimmer sind mit WiFi, TV, Fön und Handtüchern ausgestattet. Der Hof des Gästehauses
    bietet ausreichend Sitzgelegenheiten, um evtl. bei einem Gläschen Wein den Abend ausklingen zu lassen.
    Das reichhaltige und abwechslungsreiche Frühstück wird Ihnen im historischen Klosterkeller serviert.
  </p>
</div>

<app-image-carousel></app-image-carousel>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Custom cards</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>Pakistan</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>California</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
